
body {
    padding: 0px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

body section {
    padding: 0px 275px;
}

.header {
    display: flex;
    flex-flow: column;
    background-color: #1F2937;
    color: #ffffff;
}


/* Nav Section */

.nav,
.nav-bar {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    color: lightgray;
}

.nav {
    margin-bottom: 48px;
}


/* Title Section */

.title-section {
    display: flex;
    margin-bottom: 64px;
    gap: 36px;
}

.title-text {
    color: lightgray;
}

.title-text h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
}

.title-text button {
    background-color: blue;
    border: 0;
    color: #fff;
    padding: 6px 24px;
}

.title-img {
    max-width: 500px;
}

figcaption {
    font-size: 10px;
    font-style: italic;
    color: lightgray;
}


/* Rocks Section */

.rocks-section {
    text-align: center;
}

.rock-title {
    padding: 32px 0px;
}

.rock-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 24px;
}

.rock-img {
    height: 200px;
    width: 200px;
    background-color: blue;
    border: 6px solid #f08080;
    border-radius: 20px;
}

/* Footer Section */

.footer {
    text-align: center;
}