
body {
    padding: 0px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body section {
    padding: 0px 96px;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    flex-flow: column;
    background-color: #1F2937;
    color: #ffffff;
}

.nav,
.nav-bar {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.nav {
    margin-bottom: 48px;
}

.title-section {
    display: flex;
    margin-bottom: 64px;
}

.title-text button {
    background-color: blue;
    border: 0;
    color: #fff;
    padding: 6px 24px;
}

.title-img {
    width: 400px;
}

figcaption {
    font-size: 10px;
    font-style: italic;
    color: lightgray;
}